<!--
// Citation:
// Date: 3/6/24
// Based on nodejs-starter-app
// This code's logic and structure is unoriginal. It has been adapted to work 
// for our group's schema. 
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
-->

<!-- authorOrganizations.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="AuthorOrganizations-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.authorOrganizationID}}</td>
            <td>{{this.organizationName}}</td>
            <td>{{this.authorLastName}}</td>
            <td>{{this.authorstartDate}}</td>
            <td>{{this.authorEndDate}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/authorOrganizations.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Add New Author-Organization</h2>
<p>To add a new author-organization, please enter their information below and click 'Submit'!</p>
<form id="add-authorOrganization-form-ajax">
    <legend>Add Author-Organization</legend>

    <label for="input-orgName">Organization Name: </label>
    <input type="text" name="input-orgName" id="input-orgName" required>

    <label for="input-lname">Author Last Name: </label>
    <input type="text" name="input-lname" id="input-lname" required>

    <label for="input-startDate">Author Start Date: </label>
    <input type="date" name="input-startDate" id="input-startDate" required>

    <label for="input-endDate">Author End Date: </label>
    <input type="date" name="input-endDate" id="input-endDate">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_authorOrganization.js"></script>

